:root {
  --color_1: #ffffff;
  --color_2: #3cb878;
  --color_3: #01813f;
  --color_4: #305db8;
  --color_5: #df4a32;
  --color_6: #022263;
  --color_7: #ab1f09;
  --color_8: #434343;
  --color_9: #bebebe;
  --color_10: #f2f2f2;
  --color_11: #848484;
  --color_12: #0a162f;
  --color_13: #2b0d09;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  height: 100vh;
  box-sizing: border-box;
}

.wrapper {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}

.header_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  padding: 18px 0 18px 79px;
  color: var(--color_1);
  transition: color 0.3s;
}

.logo:hover {
  color: var(--color_3);
}

.header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color_1);
  padding: 18px 79px 18px 0px;
}

.header_icon {
  padding-right: 25px;
  cursor: pointer;
}

.header_icon > path {
  transition: fill 0.3s;
}

.header_icon:hover > path {
  fill: var(--color_3);
}

.header_greeting {
  padding-left: 27px;
  position: relative;
}

.header_greeting::before {
  content: url(../img/header_line.png);
  position: absolute;
  left: 0;
  top: -2px;
}

.header_greeting > a {
  text-decoration: none;
  color: var(--color_1);
  transition: 0.3s;
}

.header_greeting > a:hover {
  color: var(--color_3);
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 93vh;
  padding-top: 60px;
  padding-bottom: 60px;
}

.form-block {
  display: flex;
  flex-direction: column;
  background-color: var(--color_1);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  padding: 31px 61px 38px;
  box-sizing: border-box;
  position: relative;
}

.form-block::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: var(--color_2);
  position: absolute;
  top: 32px;
  left: 0px;
}

.log_in_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log_in_section > p {
  font-size: 20px;
  line-height: 20px;
  color: var(--color_8);
}

.log_in_section > a {
  text-decoration: none;
  color: var(--color_2);
  padding-top: 4px;
  transition: color 0.3s;
}

.log_in_section > a:hover {
  color: var(--color_3);
  text-decoration: underline;
}

.social_network_section {
  margin-top: 15px;
  margin-bottom: 32px;
}

.social_network_btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  transition: background-color 0.3s;
  color: var(--color_1);
}

.facebook_btn {
  background-color: var(--color_4);
  margin-right: 4px;
  padding: 17px 22px 17px 67px;
}

.facebook_btn:hover {
  background-color: var(--color_6);
}

.facebook_btn::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  left: 48px;
  top: 10px;
  background-color: var(--color_12);
  mix-blend-mode: normal;
  opacity: 0.1;
}

.google_btn {
  background-color: var(--color_5);
  padding: 17px 27px 17px 80px;
}

.google_btn:hover {
  background-color: var(--color_7);
}

.google_btn::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  left: 49px;
  top: 10px;
  background-color: var(--color_13);
  mix-blend-mode: normal;
  opacity: 0.1;
}

.fa-google-plus-g {
  padding-right: 38px;
  font-size: 22px;
  box-sizing: border-box;
  position: absolute;
  left: 12px;
  top: 15px;
}

.fa-facebook-f {
  position: absolute;
  font-size: 22px;
  left: 12px;
  top: 13px;
}

.form_selection {
  color: var(--color_11);
  text-align: center;
  position: relative;
}

.form_selection::before,
.form_selection::after {
  content: url(../img/horizontal_line.png);
  max-width: 152px;
  position: absolute;
}

.form_selection::before {
  left: 0;
  bottom: 3px;
}

.form_selection::after {
  right: 0;
  bottom: 3px;
}

.form_field {
  padding: 15px 0 15px 20px;
  margin-bottom: 16px;
  border-radius: 4px;
  outline: none;
  color: var(--color_8);
  background-color: var(--color_1);
  border: 1px solid var(--color_10);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.11);
  box-sizing: border-box;
}

.form_field:nth-of-type(1) {
  margin-top: 12px;
}

.form_field:nth-of-type(5) {
  margin-bottom: 12px;
}

.form_field::placeholder {
  color: var(--color_9);
}

.form_field:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  color: var(--color_8);
}

.checkbox_section {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox_section .check_square {
  position: absolute;
  opacity: 0;
  z-index: -1;
  left: 0px;
}

.checked_square {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--color_1);
  border: 1px solid var(--color_10);
}

.checked_square:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox_section .check_square:checked ~ .checked_square:after {
  display: block;
}

.checkbox_section .checked_square:after {
  left: 1px;
  top: -6px;
  width: 8px;
  height: 12px;
  border: 0px solid var(--color_3);
  border-width: 0px 12px 12px 0px;
  clip-path: polygon(
    44% 86%,
    80% 35%,
    85% 44%,
    61% 78%,
    44% 100%,
    5% 55%,
    12% 48%
  );
  z-index: 1;
}

.checkbox_section > a {
  text-decoration: none;
  color: var(--color_2);
  transition: color 0.3s;
}

.checkbox_section > a:hover {
  color: var(--color_3);
  border-bottom: 1px solid var(--color_3);
}

.submit_btn {
  width: 324px;
  text-align: center;
  padding: 16px 0 16px;
  border: transparent;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  transition: background-color 0.3s;
  margin-top: 20px;
  font-family: "Ubuntu", sans-serif;
  background-color: rgba(60, 184, 120, 0.8);
  color: var(--color_1);
}

.submit_btn:hover {
  background-color: var(--color_3);
  cursor: pointer;
}
